<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
    <h3 ></h3>
    <div th:replace="~{fragments/header::header}"></div>

    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>Username</td>
                <td>Pwd</td>
            </tr>
        </thead>
        <tr>
            <td th:text="${userList.id}"></td>
            <td th:text="${userList.username}"> </td>
            <td th:text="${userList.pwd}"></td>
        </tr>
    </table>



</body>

<div th:replace="~{fragments/footer::footer}"></div>
</html>